##### rick and morty AI

In [2]:
import os
import re
import pandas as pd

In [6]:
pattern = r'(^[a-zA-Z\s]):(.+)'

In [7]:
data = {'name':[], 'line': []}

In [8]:
RM_df = pd.read_csv('RickAndMortyScripts.csv')

In [9]:
RM_df.head()

,index,season no.,episode no.,episode name,name,line
0,0,1,1,Pilot,Rick,Morty! You gotta come on. Jus'... you gotta co...
1,1,1,1,Pilot,Morty,"What, Rick? What’s going on?"
2,2,1,1,Pilot,Rick,"I got a surprise for you, Morty."
3,3,1,1,Pilot,Morty,It's the middle of the night. What are you tal...
4,4,1,1,Pilot,Rick,"Come on, I got a surprise for you. Come on, h..."

In [10]:
name = RM_df['name']
line = RM_df['line']

In [12]:
d = {'name':name, 'line': line}
df = pd.DataFrame(data = d)
df.head()

    name                                               line
0   Rick  Morty! You gotta come on. Jus'... you gotta co...
1  Morty                       What, Rick? What’s going on?
2   Rick                   I got a surprise for you, Morty.
3  Morty  It's the middle of the night. What are you tal...
4   Rick  Come on, I got a surprise for you.  Come on, h...

In [13]:
sum(df['name'] == 'Rick')

420

In [14]:
len(df)

1905

In [15]:
df.to_csv('Rick.csv', index=False)